body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f7f8fa;
}

h1 {
    text-align: center;
    color: #333;
}

#adyen-container {
    margin: 0 auto;
    width: 50%;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}